## Observations and Insights

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single dataset
mouse_results_df=pd.merge(mouse_metadata,study_results, on="Mouse ID" )
# Display the data table for preview
mouse_results_df.sample(25)

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
682,c559,Zoniferol,Female,19,28,10,47.293260,0
1371,p438,Ceftamin,Female,11,26,5,46.827934,0
1007,j755,Naftisol,Male,23,27,15,51.453974,0
1252,o287,Ceftamin,Male,2,28,5,45.586804,0
1484,s121,Infubinol,Male,23,26,20,52.005066,2
1097,l215,Propriva,Male,10,29,0,45.000000,0
1153,l733,Ceftamin,Female,4,30,0,45.000000,0
354,g316,Capomulin,Female,22,22,15,45.216743,0
1365,p387,Stelasyn,Male,3,30,20,56.587617,0
423,a444,Ramicane,Female,10,25,10,44.512560,0
1016,j984,Stelasyn,Female,2,30,10,50.141084,1
1419,q582,Placebo,Male,5,30,10,47.013575,1
1560,t718,Placebo,Female,10,30,40,61.530399,3
258,q610,Ramicane,Female,18,21,15,45.889028,0
437,i557,Capomulin,Female,1,24,30,45.261384,0
1222,n671,Infubinol,Male,18,25,15,54.216064,0
889,g558,Propriva,Male,8,29,20,55.090097,1
1218,n630,Propriva,Female,15,29,5,46.099100,0
981,j235,Placebo,Male,6,30,10,48.018788,1
1175,m269,Stelasyn,Female,22,28,25,64.893020,0
1384,p981,Stelasyn,Male,20,29,20,50.358069,0
225,r811,Ramicane,Male,9,19,0,45.000000,0
1655,v991,Propriva,Female,10,30,30,62.743643,3
1093,k894,Zoniferol,Female,13,29,30,54.400123,3
499,a366,Stelasyn,Female,16,29,25,59.011728,0

In [2]:
# Checking the number of mice.
mice_number=mouse_results_df["Mouse ID"].nunique()
mice_number_count=mouse_results_df["Mouse ID"].count()

print(mice_number_count)
print(mice_number)

1893
249

In [3]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
duplicate_mouseID_df=mouse_results_df.copy()
duplicate=duplicate_mouseID_df[['Mouse ID','Timepoint']][duplicate_mouseID_df.duplicated(['Mouse ID'])]
duplicate.head(25)

   Mouse ID  Timepoint
1      k403          5
2      k403         10
3      k403         15
4      k403         20
5      k403         25
6      k403         30
7      k403         35
8      k403         40
9      k403         45
11     s185          5
12     s185         10
13     s185         15
14     s185         20
15     s185         25
16     s185         30
17     s185         35
18     s185         40
19     s185         45
21     x401          5
22     x401         10
23     x401         15
24     x401         20
25     x401         25
26     x401         30
27     x401         35

In [4]:
# Optional: Get all the data for the duplicate mouse ID. 
duplicate_all=duplicate_mouseID_df[duplicate_mouseID_df.duplicated('Mouse ID')]
duplicate_all

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
5,k403,Ramicane,Male,21,16,25,33.464577,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [5]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID. 
drop_duplicate_all=mouse_results_df.copy()
drop_duplicate_all.drop_duplicates(subset=(["Mouse ID","Timepoint"]), keep='first', inplace=True)# )
drop_duplicate_all

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [6]:
# Checking the number of mice in the clean DataFrame.
mice_number_count2=drop_duplicate_all["Mouse ID"].count()
mice_number_count2

1888

## Summary Statistics

In [11]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 
# mean, median, variance, standard deviation, and SEM of the tumor volume. 
# Assemble the resulting series into a single summary dataframe.

volume=drop_duplicate_all.copy().groupby(["Drug Regimen"])

tumor_volume_mean=volume["Tumor Volume (mm3)"].mean() 
tumor_volume_median=volume["Tumor Volume (mm3)"].median()
tumor_volume_var=volume["Tumor Volume (mm3)"].var()
tumor_volume_std=volume["Tumor Volume (mm3)"].std()
tumor_volume_sem=volume["Tumor Volume (mm3)"].sem()

tumor_volume_df=pd.DataFrame({'mean':tumor_volume_mean,
                              'median':tumor_volume_median,
                              'variance':tumor_volume_var,
                              'Stanar deviation':tumor_volume_std, 'SEM':tumor_volume_sem})
tumor_volume_df

                   mean     median   variance  Stanar deviation       SEM
Drug Regimen
Capomulin     40.675741  41.557809  24.947764          4.994774  0.329346
Ceftamin      52.591172  51.776157  39.290177          6.268188  0.469821
Infubinol     52.884795  51.820584  43.128684          6.567243  0.492236
Ketapril      55.235638  53.698743  68.553577          8.279709  0.603860
Naftisol      54.331565  52.509285  66.173479          8.134708  0.596466
Placebo       54.033581  52.288934  61.168083          7.821003  0.581331
Propriva      52.393463  50.909965  43.138803          6.568014  0.525862
Ramicane      40.216745  40.673236  23.486704          4.846308  0.320955
Stelasyn      54.233149  52.431737  59.450562          7.710419  0.573111
Zoniferol     53.236507  51.818479  48.533355          6.966589  0.516398

In [ ]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Using the aggregation method, produce the same summary statistics in a single line

## Bar and Pie Charts

In [ ]:
# Generate a bar plot showing the total number of measurements taken on each drug regimen using pandas.

In [ ]:
# Generate a bar plot showing the total number of measurements taken on each drug regimen using pyplot.

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [ ]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [ ]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [ ]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [ ]:
# Generate a line plot of tumor volume vs. time point for a mouse treated with Capomulin

In [ ]:
# Generate a scatter plot of average tumor volume vs. mouse weight for the Capomulin regimen

## Correlation and Regression

In [ ]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen